<%= simple_form_for @cocktail do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error-explanation">
      <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: 'Cocktail Name', placeholder: 'Margarita' %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <h3>Add a dose below</h3>
  <div id="doses">
    <%=  f.simple_fields_for :doses do |dose|%>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Dose', f, :doses, class: "btn btn-primary"%>
      <%= f.submit class: "btn btn-primary text-right" %>
    </div>
  </div>

<% end %>
