<h1>Cocktails</h1>
<% if @cocktails %>
<ul>
  <% @cocktails.each do |cocktail| %>
  <div id="cocktail">
    <li><h4><%= cocktail.name %></h4></li>
    <% cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %>, <%= dose.description %></p>
    <% end %>
    <%= link_to "Add Dose", new_cocktail_dose_path(cocktail.id) %>
  </div>
  <% end %>
</ul>
<% end %>

<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
