<%= render 'banner' %>
<div class="container text-center">
  <h1>Cocktails</h1>
  <% if @cocktails.any? %>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path cocktail.photo, crop: :fill %>'); background-size: cover;">
      <div class="card-description">
        <h2><%= cocktail.name %></h2>
      </div>
      <a class="card-link" <%= link_to "", cocktail_path(cocktail) %></a>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="add-restaurant">
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
</div>

