<div class="main-container">
  <div class="text-container">
    <h1><%= @cocktail.name %></h1>
    <% @cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %>, <%= dose.description %></p>
    <% end %>
    <div class="buttons">
      <p>
        <%= link_to "Edit your cocktail", edit_cocktail_path, class: "btn btn-primary" %>
        <%= link_to "Delete Cocktail", cocktails_path, method: :destroy, class: "btn btn-primary" %>
        <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
  <div id="cocktail-photo">
    <%= cl_image_tag @cocktail.photo %>
  </div>
</div>

